#fishmap {
  display: flex;
  flex-grow:1;
}
.fish {
  flex-grow:1;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  stroke-miterlimit:10;
  height: 20px;
  width: 30px;
}



svg#passion_fish{

  margin-top: 30px;
  transform: rotate(-13deg);
  stroke: #66CD00;
  fill: #66CD00;
}
svg#project_fish {
  margin-top: 10px;
  transform: rotate(7deg);
  stroke: #CD5C5C;
  fill: #CD5C5C;

 }
svg#contact_fish {
  margin-top: 20px;
  transform: rotate(10deg);
  stroke: #66CCCC;
  fill: #66CCCC
;
}

svg#about_fish {
  margin-top: 10px;
  fill:#FFF;
  stroke:#FFF;
  transform: rotate(13deg);
}
svg {
  padding: 20px;
}
.fish :hover {
  transform: scale(1.6);
  filter: url(#blur-filter);
}
div#passions {
  position: relative;
  background-color: #5fabc4;
  z-index: -1;
  height: 540px;

}