<!DOCTYPE html>

<html lang="en">


    {% include head.html %}

    <body>

        {% include header.html %}
        <div id = "divider">
            <div id ="fishmap">

                <svg class = "fish" id="about_fish" data-name="object" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347 207"><title>fish</title><g><polygon id = "tail" points="0.5 197.5 118.5 103.25 0.5 9 0.5 197.5" /><path d="M552.5,213l.36.25q0-.26,0-.52Z" transform="translate(-437 -109)"/><circle id = "head" cx="275" cy="103.5" r="103.5"/></g></svg>
                <svg class = "fish" id="passion_fish" data-name="object" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347 207"><title>fish</title><g><polygon id = "tail" points="0.5 197.5 118.5 103.25 0.5 9 0.5 197.5" /><path d="M552.5,213l.36.25q0-.26,0-.52Z" transform="translate(-437 -109)"/><circle id = "head" cx="275" cy="103.5" r="103.5"/></g></svg>
                <svg class = "fish" id="project_fish" data-name="object" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347 207"><title>fish</title><g><polygon id = "tail" points="0.5 197.5 118.5 103.25 0.5 9 0.5 197.5" /><path d="M552.5,213l.36.25q0-.26,0-.52Z" transform="translate(-437 -109)"/><circle id = "head" cx="275" cy="103.5" r="103.5"/></g></svg>
                <svg class = "fish" id = "contact_fish" data-name="object" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347 207"><title>fish</title><g><polygon id = "tail" points="0.5 197.5 118.5 103.25 0.5 9 0.5 197.5" /><path d="M552.5,213l.36.25q0-.26,0-.52Z" transform="translate(-437 -109)"/><circle id = "head" cx="275" cy="103.5" r="103.5"/></g></svg>


            </div>
        </div>

        <div id = "about"></div>
        <div id = "passions"></div>
        <!--<svg>-->
            <!--<filter id="blur-filter" x="-2" y="-2" width="200" height="200">-->
                <!--<feGaussianBlur in="SourceGraphic" stdDeviation="2" />-->
            <!--</filter>-->
        <!--</svg>-->

        <script type="text/javascript" src={{ "/assets/bower/jquery/dist/jquery.js" | relative_url }}></script>
        <script type="text/javascript" src={{ "/assets/scripts/app.js" | relative_url }}></script>

    </body>
